/* universal style start from here */
*{
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}
/* Header related-style started from here  */
.header-container{
    display: flex;
    /* align-items: center; */
    justify-content:space-around;
    height: 100vh;
    width: 100%;
    
    padding: 50px 120px ;
    background-color:#E554731A;
    
}
.header-description{
width: 50%;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding: 20px 0px;
}
.header-tittle{
color: #272727;
font-size: 80px;
font-weight: 800;

}
.button{
border-radius: 8px;
background: #E55473;
border: 0px;
color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 20px 45px;
}
.image{
    padding-right: 180px;
    display: flex;
    
}
#header-flower{
    padding-top: 65px;
    height: 610px; 

}
.information{
   padding-top: 20px;
}









/* Main section related style are below */

/* Footer section related style are below */

footer{
    background-color: #111010;;
    height: 449px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}


#Copy-right { 
    color: rgba(255, 255, 255, 0.40);
    padding-top: 24px;
}

.primary-color{
    color: #E55473;
}
.footer-tittle{
font-size: 48px;
font-weight: 800;
}

#footer-description{
    padding: 20px 0px;
}
