/* universal style start from here */
* {
  margin: 0px;
  padding: 0px;
  font-family: Lato;
}
/* Header related-style started from here  */
.header-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  height: 100vh;

  padding: 50px;
  background-color: #e554731a;
}
.header-description {
  width: 50%;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 0px;
}
.header-tittle {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.button {
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 45px;
}
.image {
  /* padding-right: 180px; */
  display: flex;
}
#header-flower {
  padding-top: 65px;
  height: 610px;
}
.information {
  padding-top: 20px;
}
/* head section end */

/* Main section started below */

/* Our featured related styles are here */
.our-feature {
  text-align: center;
  margin: 60px 0px 40px 0px;
}
.feature-tittle {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 25px;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

.tuplip {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.pink-tulip {
  width: 350px;
  height: 450px;
  background-color: #a7216226;
  border-radius: 200px 200px 0px 0px;
  background-image: url("Flower/pngwing\ 6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.group-tulip {
  width: 350px;
  height: 450px;
  background-color: #0597a026;
  border-radius: 200px 200px 0px 0px;
  background-image: url("Flower/pngwing\ 5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.yellow-tulip {
  width: 350px;
  height: 450px;
  background-color: #477d1126;
  border-radius: 200px 200px 0px 0px;
  background-image: url("Flower/pngwing\ 7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.text {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 15px;
}
.pink {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
/* Quality Related style here */
.quality {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  background-color: rgba(39, 39, 39, 0.096);
  background-position: center;
  margin: 50px auto;
  padding: 25px 0px;
}
.delivery-text {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}

/* Hot Deal related style are here  */
.Hot-Deal {
  height: 620px;
  background-color: #e554730d;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.hot-deal-description {
  padding: 15px 0px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.hot-deal-tittle {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
/* Instagram related style are here */
.instagram {
  text-align: center;
  width: 80%;
  margin: auto;
}
.insta-tittle {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 80px 0px 20px 0px;
}
.insta-text {
  padding-bottom: 50px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}
/* Display images related style below */
.display-image {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 60px;
}
.image-resize {
  width: 250 px;
  height: 300px;
  box-shadow: 1px 3px 5px;
}

.btn {
  padding-top: 30px;
}

#button {
  width: 150px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  border: 0px;
  border-radius: 8px;
  background: #e55473;
}

#mail {
  border-radius: 8px;
  background: #fff;
  width: 650px;
  height: 64px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  border: 0px;
  margin-right: 20px;
  padding-left: 20px;
}
/* Latest deal related style below */
.latest-deal {
  width: 80%;
  background-image: url("Rectangle\ 9.png");
  height: 60vh;
  margin: auto;
  background-position: top;
  text-align: center;
  margin-bottom: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main section end here */
/* Footer section start below */

footer {
  background-color: #111010;
  height: 449px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Copy-right {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 24px;
}

.primary-color {
  color: #e55473;
}
.footer-tittle {
  font-size: 48px;
  font-weight: 800;
}

#footer-description {
  padding: 20px 0px;
}

/* Footer section end */